<div class="container">
  <div class="row">
    <div class="col-lg-12"><h3>Prueba con Ciudades y tiempos en API REST</h3></div>
    <div class="col-lg-6">
      <div class="titulo">Seleccione ciudades por nombre</div>
      <!-- //combo con el listado de ciudades -->
      <div class="container">
        primero
      </div>
    </div>

    <div class="col-lg-6">
      <div class="titulo">Selección de ciudades</div>
      <!-- //listbox con la selección de ciudades.... -->
    </div>
  </div>
</div>
