<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Prueba con Ciudades y tiempos en API REST</h3>
    </div>
    <div class="col-lg-6">
      <div class="titulo">Seleccione ciudades por nombre</div>
      <!-- //combo con el listado de ciudades -->
      <div class="container">
        <!-- Control personalizado Combo tipo typeahead -->
        <div class="combobox">
          <input
            id="entrada"
            [(ngModel)]="filtro"
            (keyup)="gestionaTeclado($event)"
            (focus)="muestraListado()"
            type="text"
            class="combobox-input"
            placeholder="Select one..."
          />

          <div class="combobox-options" *ngIf="!listHidden">
            <div *ngFor="let item of getFilteredList(); let i = index">
              <div
                [ngClass]="{ selected: i === selectedIndex }"
                (onKeyUp)="gestionaTeclado($event)"
                (click)="seleccionaElemento(i)"
              >
                {{ item }}
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Control personalizado Combo tipo typeahead -->
      </div>
    </div>

    <div class="col-lg-6">
      <div class="titulo">Selección de ciudades</div>
      <!-- //listbox con la selección de ciudades.... -->
      <div *ngFor="let item of listaSeleccion">
        <div (click)="eliminaElementoSeleccionado(item)">
          [ x ] - {{ item }}
        </div>
      </div>
      <br />
      <div
        class="btn btn-primary form-control"
        *ngIf="listaSeleccion.length"
        (click)="solicitaInfoRestApi()"
      >
        BUSCAR INFORMACION
      </div>
      <br /><br />
    </div>
  </div>

  <div class="container" *ngIf="verTiempo">
    <h3>Estado del tiempo de lugares seleccionados</h3>

    <table class="table">
      <thead class="cabeceraTabla">
        <tr>
          <th scope="col" class="col-1">ICO</th>
          <th scope="col" class="col-2">Ubicación</th>
          <th scope="col" class="col-2">MIN ºC</th>
          <th scope="col" class="col-2">MAX ºC</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let elemento of listaTiempos">
          <td><img height="25px" src="{{ dameURL(elemento.weather[0].icon) }}" /></td>
          <th scope="row">{{ elemento.name }}</th>
          <td>{{elemento.main.temp_min - 273  | number : '1.0-0'}}"</td>
          <td>{{elemento.main.temp_max - 273  | number : '1.0-2'}}"</td>
          <td>{{ elemento.weather[0].description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
