.titulo {
  color: black;
  text-align: left;
  background-color: #cccccc;
  font-size: 14pt;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #00b388;
}

.cabeceraTabla
{
  background-color: #00b388;
  font-size: 10pt;
  padding: 0 0 0 0px;
}

.combobox {
  margin: auto;
}

.combobox-input {
  width: 330px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid rgb(165, 112, 112);
}

.combobox-input:focus {
  outline-style: none;
}

.combobox-options {
  position: absolute;
  text-align: left;
  background-color: white;
  width: 350px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 2px 2px #ccc;
  z-index: 1;
}

.selected {
  color: cornsilk;
  background-color: rgb(165, 112, 112);
}

list-item {
  display: block;
  font-size: 18px;
  padding: 10px;
}

list-item:hover {
  background-color: grey;
  color: white;
}

.error-text {
  color: rgb(165, 112, 112);
}

.error {
  border: 1px solid red;
}
