<h3>Descripción de la prueba</h3>
<span>
  Se debe desarrollar una aplicación del tiempo con el siguiente comportamiento:
  <br />
  La aplicación está compuesta por:
  <br />
  <ul>
  <li>
    Pantalla de login con usuario y contraseña (los usuarios y las contraseñas
    pueden estar en el código). Se tiene que comprobar que el usuario y la
    contraseña sean correctas y no se podrá acceder a ninguna otra página si la
    autenticación no es correcta.
  </li>
  <li>
    Una vez que el login es correcto, se navegará a otra página donde se
    mostrarán los siguientes componentes:
  </li>

  <ul>
    <li>
      a. Select filtrable (tipo typeahead) de ciudades donde el usuario podrá
      buscar una ciudad de España. Al seleccionar la ciudad, se añadirá a un
      listado de ciudades preferidas. El listado de ciudades de España se debe
      leer de un json adjunto a la prueba.
    </li>
    <li>
      b. En el listado se mostrará el nombre de la ciudad y una opción para
      eliminar las ciudades seleccionadas.
    </li>
    Pulsando sobre una ciudad, se debería mostrar los detalles del tiempo de la
    ciudad con su icono y la temperatura en grados centígrados, utilizando uso
    de la API Rest de openweathermap.org (datos más abajo)
    <li>
      d. [Opcional] Incluir google maps marcando la ciudad en el mapa con la
      longitud y latitud que nos devuelve la API Rest
    </li>
  </ul>
  <li>
  3. Se deben incluir algún test unitario en cada uno de los componentes
  creados.
</li></ul>
  
</span>

