<div id="top">Pr&aacute;ctica para CDS HP</div>
<div class="container">
  <div id="cabecera">MENU</div>

  <div id="menu">
    <ul class="row">
      <li class="col-2">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Inicio</a>
      </li>
      <li class="col-2" *ngIf="!Validado()">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
      </li>
      <li class="col-2" *ngIf="Validado()">
        <a [routerLink]="['/prueba']" routerLinkActive="router-link-active">Tiempo/ciudades</a>
      </li>
      <li class="col-2" *ngIf="Validado()">
        <div (click)="cerrarSesion()">Cerrar sesion</div>
      </li>
    </ul>
  </div>

  <!-- CUERPO DE LA APP -->
  <router-outlet></router-outlet>
</div>
<!-- PIE DE LA APLICACION -->
<div id="pie">© 2022 by Alfredo Juez</div>