<div class="combobox">
  <input
    type="text"
    (ngModel)="inputItem"
    (ngModelChange)="getFilteredList()"
    class="combobox-input"
    
    (blur)="toggleListDisplay(0)"
    (focus)="toggleListDisplay(1)"
    
    placeholder="Select one..."
    [ngClass]="{ error: showError }"
  />
  
  <div class="combobox-options">
    <list-item
      *ngFor="let item of filteredList; let i = index"
      (click)="selectItem(i)"
      (keypres)="onKeyPress($event)"
      [ngClass]="{ selected: i === selectedIndex }"
      >{{ item }}</list-item
    >
  </div>

  <span *ngIf="showError" class="error-text"><i>Invalid Selection.</i></span>
</div>
